# Python
__pycache__/
*.pyc

# Environment & Secrets (CRITICAL)
.env
env/
venv/
instance/

# Data & Excel
# *.xlsx (Comentado para subir CLIENTES_DB.xlsx a Render)
*.csv
data/
!data/.gitkeep

# IDE & Config
.vscode/
.idea/
*.bat
